 :root{
  --color-primary: #B3B5A7;
  --color-secondary: #ffffff;
  --color-tertiary: #333333;
}

.main{
  overflow-x: hidden;
}

.inicio{
  padding-top: 4rem;
  background-color: var(--color-tertiary)
}

.trabajos{
  padding-top: 10rem;
  background-color: var(--color-tertiary)
}

.textura{
width: 100%;
}

.papel{
  width: 50%;
  }

h1.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  padding: 0.5rem 5rem;
  
}

h2.texto {
  color: var(--color-secondary);
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding: 0.5rem 5rem;
}

.background1 {
  background-color: #ffffff;
}

h3.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align:justify;
}


h4.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}


h5.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.botones {
  display: flex;
      justify-content: center;
      align-items: center;
    }


h6.titulo {
  color: var(--color-secondary);
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  font-weight: 700;
  font-style: normal;
  text-align: right;
}

.ripped{
  background-image: url(img/fotos/white-ripped-png.webp);
  background-repeat: no-repeat ;
  background-size: cover;
}

h7.texto {
  color: var(--color-secondary);
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  
}

h8.titulo {
  color: var(--color-secondary);
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  text-align:justify;
  
  
 }

.final{
  padding-bottom: 10rem;
  background-color: var(--color-tertiary);
}

 a.link {
  color: #B3B5A7;
 text-decoration: none;
 padding-left: 5rem;
 }


 @media (max-width: 768px) {
  .ripped {
    width: 5remm;
  }

  h3.titulo {
    font-size: 4rem;
  }

  h4.titulo {
    font-size: 4rem;
  }

  h8.titulo{
    font-size: 4rem;
  }

.ripped {
  width: 5remm;
}

  h5.titulo {
    font-size: 4rem;
  }
}


