 :root{
  --color-primary: #B3B5A7;
  --color-secondary: #ffffff;
  --color-tertiary: #333333;
}

.inicio{
  background-color: var(--color-tertiary)
}

.papel{
  background-image: url(img/fotos/Rippedpaper.png);
  background-repeat: no-repeat ;
  background-size: cover;
}

h1.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  padding: 0.5rem 5rem;
  
}

h2.texto {
  color: var(--color-secondary);
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding: 0.5rem 5rem;
}

.background1 {
  background-color: #333333;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h3.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 5rem;
}

h4.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 5rem;
}


h5.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.botones {
  display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 6rem;
    }

.img{
  padding-bottom: 6rem;
}

h6.titulo {
  color: var(--color-secondary);
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  font-weight: 700;
  font-style: normal;
  text-align: right;
}

.ripped{
  background-image: url(img/fotos/white-ripped-png.webp);
  background-repeat: no-repeat ;
  background-size: cover;
}

h7.texto {
  color: var(--color-secondary);
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  
}

h8.titulo {
  color: var(--color-secondary);
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  padding: 0.5rem 5rem;
  
 }

 .programas {
  padding-left: 0rem;
  padding-bottom: 0rem;
 }

 .links {
  color: var(--color-secondary);
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding: 0.5rem 5rem;
 }


 @media (max-width: 768px) {
  .ripped {
    width: 5remm;
  }

  h3.titulo {
    font-size: 4rem;
  }

  h4.titulo {
    font-size: 4rem;
  }

  h8.titulo{
    font-size: 4rem;
  }

.ripped {
  width: 5remm;
}

  h5.titulo {
    font-size: 4rem;
  }
}


