 :root{
  --color-primary: #B3B5A7;
  --color-secondary: #ffffff;
}

.foto-principal{
  background-image: url(img/fotos/Portafolio.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
}

h1.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  padding: 0.5rem 0.5rem;
}

h2.texto {
  color: var(--color-secondary);
  font-family: "Cormorant Garamond", serif;
  font-size: auto;
  font-weight: 600;
  font-style: normal;
  padding: 0.5rem 5rem;
}

h3.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


h4.titulo {
  color: var(--color-primary);
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}